@import '../../global.scss';

main {
   display: flex;
   justify-content: center;
   gap: 32px;
   margin: 50px 32px 15px 32px;

   @media screen and (max-width: 1230px){
      align-items: center;
      flex-direction: column;
   }

   .lateral-elements {
      display: flex;
      flex-direction: column;
      gap: 17px;
      
      @media screen and (max-width: 1230px){
         display: none;
      }
   }
   .lateral-elements-mobile {
      display: none;
      @media screen and (max-width: 1230px){
         display: block;
         max-width: 100vw;
         width: 100%;
      }
   }
}